node_modules
Frontend/node_modules
Backend/node_modules
Backend
.DS_Store   
.env
.vscode
.idea
dist
logs
*.log
npm-debug.log*
yarn-error.log*
coverage
.cache
*.tsbuildinfo
/build
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.p12
*.key
*.crt
*.cert
*.iml